
/* Conf. gerais, navbar, imagem grande do header que estampa o site */
html, body{
    font-family: 'Roboto', sans-serif;
    
}

.row {
    padding: 70px 0px 70px 0px;
    
}

#header{
    width: 100%;
    transition: background ease-out 0.2s;
    background-image: url(../assets/footer/footer-texture.jpg);
    
}



#header .navbar-collapse{
    width: auto;
    
}

.navbar-nav{
    text-align: center;
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 800;
    padding-left: 0;
    padding-right: 0;
    color: #ffffff;
    border-bottom: solid 2px transparent;
    display: inline-block;
    text-decoration: none;
    
}


#header a:hover{
    color: var(--primary);
}

#header .nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;

}

#header .nav-link:hover::after{
    border-bottom: solid 1px var(--primary);
    width: 100%;
    transition: width .3s;
   
}








#slider .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/slider/1440x488_Lumber_Industry3.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .hero-text {
    text-align: center;
    margin-top: 8%;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-family: serif;
    /* background: rgba(37, 41, 47, 0.8); */
    
  }


  #slider .hero-text h1{
    font-size: 93px;
  }

  
  #slider .hero-image p{
    letter-spacing: 10px;
    font-weight: 300;
    color: rgb(234, 234, 234);
  }


  /* CSS do contact */

#slider .contact{
    /* margin-right: -12px; */
    text-align: center;
    padding: 20px 0;
    gap: 30px;
    background-image: url(../assets/footer/footer-texture.jpg);
    color: rgb(255, 255, 255);
    
}

/* css porque escolher a Comac */

.tot {
    background: transparent;
    margin: 0;
    padding: 80px 0 30px;
    width: 100%;
}

.textcenterunder {
    background-position: center top;
    background-repeat: no-repeat;
    margin: -5px auto 53px;
    padding: 0 15px;
    position: relative;
    width: 97.4%;
    text-align: center;
}

.textcenterunder h1{
    font-weight: 400;
    margin: 0 0 10px;
}

.textcenterunder p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 0px;
}

.fa {
	display: inline-block;
    transition: all 0.3 ease-in-out 0s;
}

.service-icon {
    float: left;
    margin: 0 30px 0 0;
    padding: 0;
    width: 40px;
}

.service-icon i {
    font-size: 40px; 
    color: #14345d; 
}

.media-body {
    overflow: hidden;
    display: block !important;
    
}





.text-band a{
    color: #ffffff;
    display: inline;
    text-decoration: none;
    
}

.text-band a:hover{
    color: #ffffff;
    display: inline;
}
  

/* Conf do estilo em aço espaçamento entre letras utilizado esporadicamente */
.sh-heading-content1{
    letter-spacing: 4px;
    font-weight: 300!important;
    color:var(--primary);
    
}

.sh-heading-content2{
    letter-spacing: 4px;
    font-weight: 300!important;
    color:var(--primary);
    margin-left:30px;
}

h6{
    margin-top: 30px;
  }


/* Conf. do hr vertical */
.vl {
    border-left: 1px solid black;
    height: 390px;
    margin-left: 10px;
   
  }


/* Conf. dos Botões no slider */
.btn{
    margin-bottom: 20px;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-color:  #0a5c97;
    background-color: #0a5c97;
}

.btn:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

/* Conf. do About para 1 linha e 2 column */
.column {
    float: left;
    width: 50%;
    background-color: var(--third);
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
} 

/* Conf. dos botões interativos do About */
.accordion-button {
    padding: 10px;
    border: 0;
    font-size: 18px;
    color: #333333;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}
.accordion-button:focus {
    box-shadow: none;
    border: none;
}

.accordion-body {
    padding: 15px;
    background-color: var(--four);
}
.accordion-button::after {
    width: auto;
    height: auto;
    content: "+";
    font-size: 30px;
    background-image: none;
    font-weight: 100;
    color: #1b6ce5;
    transform: translateY(-4px);
}
.accordion-button:not(.collapsed)::after {
    width: auto;
    height: auto;
    background-image: none;
    content: "-";
    font-size: 48px;
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
}

a {
    color: var(--primary);
}

a:hover{
    color: var(--five);
}

/* Fixando o navbar para se movimentar na página */
#header{
    
    margin-right:0;

    

}

div#header{
    padding:0;
    content: "";

}




/* Espaçamento, caso necessário, no final de cada id do site */
.block{
    margin-bottom: 120px;
}

/* Conf. tema dos produts na categoria */
#cat .thumbex{
    margin: 10px;
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 5px;
    
}
   
#cat .thumbnail{
    height: 300px;
    position: relative;
    transition: all 2.0s ease-out;
}  
      
#cat a.destaque  {
    display: block;
    background: var(--third);
    color: #000;
    text-decoration: none;
    transition: all ease-out 4.2s;
    
}

#cat a.destaque:hover{
    backface-visibility: hidden;
    transform: scale(1.35, 1.35);
    opacity: 1;   
}
      
#cat p{
    position: absolute;
    z-index: 2;
    top: calc(100px - 20px);
    left: 0;
    right: 0;
    margin: 0 45px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: white; 
}




/* Conf. dos Produtos da Loja */
#prod a.destaque{
    display: block;
    border-radius: 10px;
    text-align: justify;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
    border: solid 1px black;
    /* margin-bottom: 20px; */
    
}

#prod .name{
    color: #000;
    padding-top: 15px;
}

#prod a.destaque:hover{
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0, 12);
    transform: scale(1.05);

}

#prod p{
    color:var(--secondary);
    padding-bottom: 30px;
}


#prod a.destaque .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

#prod a.destaque .img-container img {
    max-height: 300px;
}



/* Contact */








/* Footer */


.footer {
    background-image: url(../assets/footer/footer-texture.jpg);
    color: white;
    padding-top: 30px;
}

  .footer .links ul {
    list-style-type: none;
  }
  .footer .links li a {
    color: white;
    transition: color 0.2s;
    text-decoration: none;
  }
  .footer .links li a:hover {
    text-decoration: none;
    color: var(--primary);
  }
  .footer .about-company i {
    font-size: 25px;
  }
  .footer .about-company a {
    color: white;
    transition: color 0.2s;
  }
  .footer .about-company a:hover {
    color: var(--primary);
  }
  .footer .location i {
    font-size: 18px;
  }
  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }



.footer-copyright {

    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.footer .social-networks {
    text-align: center;
    padding-top: 30px;
    width:"70%";
 
}

  


/* Cabeçalho e nav-bar */
@media (min-width: 992px) {
    #header .nav-link {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 1112px) { 
    #header .navbar-collapse {
        margin-right: 15px;
    }
}

@media (min-width: 1112px){
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}


/* hr vertical pro horizontal no navbar */

@media screen and (max-width: 1112px){
    #header .navbar-nav .vl {
        display: none;
    }
}

@media screen and (min-width: 1112px){
    #header hr {
        display: none;
    }
}



/* Espaçamento entre o endereço, horário atendimetno e  contato da tela  */
@media screen and (max-width: 762px){
    .text-band{
        margin-bottom: 8%;
    }
}

/* trecho abaixo do porque escolher a comac */
@media (min-width: 1029px){
    .col-md-3{
    flex: 0 0 auto;
    width: 25%;
    }
}

/* Desaparecimento do hr vertical em displays menores do que 983px */
@media (max-width: 983px){
    #slider .vl {
        display: none;
    }
}

/* Botoes indo para embaixo da imagem no about depois de 1040px */
@media screen and (max-width: 1040px) {
    .column {
      width: 100%;
    }
  }

/* Ajuste dos produtos no id=prod */
@media (max-width: 767.98px){
    #prod a.destaque .img-container {
        height: 120px;
    }
    #prod a.destaque .img-container img {
        max-height: 120px;
    }
}



@media screen and (max-width: 382px){
    #slider .hero-text h1 { font-size: 71px; }
  }
  
  /* Safari <8 and IE <11 */
  @media screen and (max-width: 382px){
    #slider .hero-text h1{ font-size: 71px; }
  }
  @media screen and (max-width: 382px){
  
    #slider .hero-text h1 { font-size: 71px; }
  }


@media screen and (max-width: 993px) {
    #footer {
        text-align: center;
       
    }
}