html, body{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.parallax {
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/network\ monitor.jpg);
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/plan.png);
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.row {
    padding: 70px 0px 70px 0px;
}

* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.navbar {
    padding: 0px 0px 0px 0px;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
}


.navbar-nav{
    text-align: center;
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    border-bottom: solid 2px transparent;
    display: inline-block;
    text-decoration: none;
    
}

#header a:hover{
    color: rgb(178, 121, 30);
}

#header .nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;

}

#header .nav-link:hover::after{
    border-bottom: solid 1px rgb(178, 121, 30);
    width: 100%;
    transition: width .3s;
   
}



.btn-entrar {
    padding: 10px 10px 10px;
    border: none;
    outline: none;
    font-weight: 800;
    color: rgb(178, 121, 30);
    background-color: transparent;
    
}

.btn-entrar:hover {
    color: rgb(255, 157, 0);
}

  .btn-registrar {
    padding: 10px 10px 10px;
    border: none;
    border-radius: 100px;
    outline: none;
    font-weight: 800;
    color: #eff0f0;
    background: black;
}


.btn-registrar:hover {
    padding: 10px 10px 10px;
    border: none;
    border-radius: 100px;
    outline: none;
    font-weight: 800;
    color:#f0ffffde;
    background: rgb(178, 121, 30);
   
    
}


@media (max-width: 1000px){
    .fixed-top{
        background-color: var(--bs-dark);
    }
}



#particles-js{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/backimg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}



.welcome{
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: serif;
    transform: translate(-50%, -50%);
}

.welcome h1{
    font-size: 57px;
    font-weight: 900;
}

.welcome p{
    font-size: 29px;
    font-weight: 400;
    font-family: monospace;
}



@media (max-width: 716px){
    .welcome h1, .welcome p{
        font-size: 190%; 
    }
}

@media (max-width: 416px){
    .welcome p{
    font-size: 140%; 
    }
}

@media (max-width: 316px){
    .welcome p{
    font-size: 100%; 
    }
}

.textcenterunder {
    background-position: center top;
    background-repeat: no-repeat;
    margin: -5px auto 53px;
    padding: 0 15px;
    position: relative;
    width: 97.4%;
    text-align: center;
}

/* aboutcards */

.card {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-width: 2px;
  background-color: rgb(235, 235, 236);
}

.card_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 9px 30px -6px rgb(105, 67, 1);
  position: relative;
  transition: transform .4s;
}

.ico {
  display: inline-block;
  position: absolute;
  color:rgb(255, 157, 0);
  transform: translate(-50%, 35%);
  font-size: 60px;
}

.card_title {
  font-size: 20px;
  margin: 12px;
  font-weight: bold;
  color: #000000a8;
  transition: color .2s;
}

.card:hover .card_title {
    color:rgb(255, 157, 0);
}

.card:hover .card_img {
  transform: translate(0px, -10px);
}

.card_body {
  color: #8c9490;
  font-size: 16px;
  padding: 0 15px;

}

/* servicços */

.service-icon {
    float: left;
    margin: 0 30px 0 0;
    padding: 0;
    width: 40px;
}

.service-icon i {
    font-size: 60px;
    color: orange;
}

.media-body {
    overflow: hidden;
    display: block !important
}

/* verifast */

.verform{
        margin: 30px;
        min-height: 40px;
    }

    .verform p{
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
        color: #222;

    }


    .verfast-form .input-container{
        margin-bottom: 20px;
    }

    .input-container label{
        font-size: 20px;
        margin-right: 10px;
    }

    .verfast-form .input-container .link{
        width: 400px;
        height: 35px;
        border: 1px solid #222;
        border-radius: 5px;
        padding: 5px;
        font-size: 20px;
        margin-left: 10px;
    }

    .verfast-form .input-container .select_ver{
        width: 100px;
        height: 35px;
        border: 1px solid #222;
        border-radius: 5px;
        padding: 5px;
        font-size: 20px;
    }

    .verfast-form .submit-btn{
        width: 200px;
        height: 40px;
        border: 1px solid #222;
        border-radius: 5px;
        padding: 5px;
        font-size: 20px;
        background-color: #222;
        color: #fff;
        cursor: pointer;
        
    }

    .verfast-form .submit-btn:hover{
        background-color: #fff;
        color: #222;
    }

    @media screen and (max-width: 1041px){
        .verform .verfast-form .input-container{
            width: 300px;
        }
    }

    @media screen and (max-width: 841px){
        .verform .verfast-form .input-container{
            width: 200px;
        }
    }

    @media screen and (max-width: 641px){
        .verform .verfast-form .input-container{
            width: 100px;
        }
    }

    @media screen and (max-width: 441px){
        .verform .verfast-form .input-container{
            width: 50px;
        }
    }

    @media screen and (max-width: 341px){
        .verform .verfast-form .input-container{
            width: 25px;
        }
    }

    .textcenterunder img {
        width: 100%;
      
    }






/* apistatus */


#api-template{ 
    display: flex;
    flex-wrap: wrap;
}

#component-container{ 
    float: left; 
    width: 50%; 
    padding: 1.1rem 1.25rem 1rem; 
    border: 1px solid #b1b3b6;
    border-top-width: 1px; 
    border-left-width: 1px; 
    border-bottom-width: 1px; 
    border-right-width: 1px;
}

.status-msg{ 
    display: block;
}

.component-statuses{ 
    text-align: center;
}

.component-statuses .legend-item{
    display: inline-block;
    margin-right: 5%;
    margin-left: 6%;
    margin-top: 2%;

}

#container-api .fa-check{
    color: green;
    float: right;
    position:relative; 
    top:4px;
    font-size: 25px;
    
}

#container-api .fa-times{
    color: red;
    float: right;
    position:relative; 
    top:4px;
    font-size: 25px;
    
}

.component-statuses .status-green .icon-indicator{
    color: green;
    font-size: 25px;
}

.component-statuses .status-red .icon-indicator{
    color: red;
    font-size: 25px;
}

#loading {
    background: url('../assets/Loading_icon.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
