* {
    margin : 0;
    padding : 0;
    border : none;
}

body {
    margin : 0 auto;
    font-family : Verdana;
    font-size : 17px;
}

.planos{
    float: left;
    clear: both;
    margin-left: 0%;
    border: 1px solid silver;
    border-radius: 10px;
}

.planos_center{
    float: left;
    clear: both;
    width: 638px;
    margin: 0 0 10px 34px;
    border-radius: 10px;
}


.coluna01, .coluna02, .coluna03, .coluna04{
    font-size: 1.0em;
    color: #333;
    font-weight: bold;
    text-align: center;
    line-height: normal !important;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
    cursor: default;
    float: left;
    width: 215px !important;
}

.coluna02, .coluna03, .coluna04{
    float: left;
    width: 135px !important;
}


.separador{
    float: left;
    width: 620px;
    height: 1px;
    background-color: rgb(184, 183, 183);
  
}

.linha_planos{
    float: left;
    width: 665px;
    padding-top: 3px;
    padding-bottom: 5px;
    
}

span.coluna01, span.coluna02, span.coluna03, span.coluna04{
    font-weight: normal;
}

